html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
}
img {
    display:block;
    width: 100%;
}


/* Styles for header */
header {
    background-color: #333;
    color: #f2f2f2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #f2f2f2;
    text-decoration: none;
}

/* Styles for hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 20px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #f2f2f2;
}


ul {
    list-style: none;
}



.header {
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-size: xx-large;
    color: #f2f2f2;
}

.countdown {
    text-align: center;
    margin-bottom: 40px;
}

#timer {
    font-size: 70px;
}

.AboutMeSection {
    font-size: xx-large;
    max-width: 500px;
    font-weight: bolder;
    /* background-color: #000000; */
    color: #f2f2f2;
}

.flex-container14 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: Black;
  }
  
  .flex-container14 > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    max-width: 70px;
  }


.certs-container {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 30px;
    line-height: 40px;

}

.certs-container .image-container {
    width:30%;
}

.projects {
    font-weight: 30px;
    font-size: 30px;
    line-height: 45px;
}

/* stuff in the contact section including the submit button */
.contact {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    font-weight: 30px;
    font-size: 20px;
    line-height: 20px;
}

.contact-text, .contact-me {
    width: 50%;
}

.contact-me {
    text-align: center;
    font-weight: 30px;
    font-size: 30px;
    line-height: 45px;

}

form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
    margin: auto;
}

label {
    font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    width: 100%;
}